<article class="post">
    <header class="post-header home">
        <div class="post-title">About</div>
    </header>

    <section>
        <div style="display: flex">
            <div>
                <img src="../assets/den.jpeg" width="300"/>
            </div>
            <div style="margin-left: 10px">
                <h2>Shin Yeong Hyeon (Den)</h2>
                <p>1991.06.26</p>
                <p>Korea, Seoul / SeongNam-si</p>
                <p>den.shin.dev@gmail.com</p>
                <p>at TeamO2 Development Leader</p>
                <p>Backend-Developer</p>
            </div>
        </div>
        <div style="margin-top: 10px">
            <h1>I Use...</h1>
            <div style="display: flex">
                <div>
                    <img src="../assets/php.png" width="100"/>
                </div>
                <div style="margin-left: 20px">
                    <img src="../assets/ci.png" width="60"/>
                </div>
                <div>
                    <img src="../assets/laravel.png" width="100"/>
                </div>
            </div>
            <div style="display: flex">
                <div>
                    <img src="../assets/nodejs.png" width="100"/>
                </div>
                <div style="margin-left: 20px">
                    <img src="../assets/express.png" width="100"/>
                </div>
                <div>
                    <img src="../assets/nestjs_small.png" width="150"/>
                </div>
            </div>
            <div style="display: flex">
                <div>
                    <img src="../assets/mysql.png" width="100"/>
                </div>
                <div style="margin: 0 20px">
                    <img src="../assets/mongodb.png" width="70"/>
                </div>
                <div>
                    <img src="../assets/redis.png" width="70"/>
                </div>
            </div>
        </div>
    </section>
</article>
